@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap') @font-face {
    font-family: 'Baloo 2';
    src: url('../font/Baloo2-SemiBold.eot');
    src: local('Baloo 2 SemiBold'), local('Baloo2-SemiBold'),
        url('../font/Baloo2-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Baloo2-SemiBold.woff2') format('woff2'),
        url('../font/Baloo2-SemiBold.woff') format('woff'),
        url('../font/Baloo2-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo 2';
    src: url('../font/Baloo2-Medium.eot');
    src: local('Baloo 2 Medium'), local('Baloo2-Medium'),
        url('../font/Baloo2-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Baloo2-Medium.woff2') format('woff2'),
        url('../font/Baloo2-Medium.woff') format('woff'),
        url('../font/Baloo2-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo 2';
    src: url('../font/Baloo2-Bold.eot');
    src: local('Baloo 2 Bold'), local('Baloo2-Bold'),
        url('../font/Baloo2-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Baloo2-Bold.woff2') format('woff2'),
        url('../font/Baloo2-Bold.woff') format('woff'),
        url('../font/Baloo2-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo 2';
    src: url('../font/Baloo2-ExtraBold.eot');
    src: local('Baloo 2 ExtraBold'), local('Baloo2-ExtraBold'),
        url('../font/Baloo2-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Baloo2-ExtraBold.woff2') format('woff2'),
        url('../font/Baloo2-ExtraBold.woff') format('woff'),
        url('../font/Baloo2-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo 2';
    src: url('../font/Baloo2-Regular.eot');
    src: local('Baloo 2 Regular'), local('Baloo2-Regular'),
        url('../font/Baloo2-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Baloo2-Regular.woff2') format('woff2'),
        url('../font/Baloo2-Regular.woff') format('woff'),
        url('../font/Baloo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo';
    src: url('../font/Baloo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

*,
html,
body {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    user-select: none;
}

a {
    transition: 0.1s;
    text-decoration: none !important;
    color: #203152 !important;
    user-select: none;
}
div{
    user-select: none;
}

button,
input,
.slick-slide,
textarea {
    outline: none !important;
    border: none;
}
.stretchable-content {
    overscroll-behavior-y: contain;
    touch-action: pan-x pan-y;
    height: 100vh; 
    overflow-y: auto; 
}
#root {
   position: fixed
}

body {
    -webkit-user-select: none; /* для WebKit-браузеров (Chrome, Safari) */
    -moz-user-select: none; /* для браузеров на базе Gecko (Firefox) */
    -ms-user-select: none; /* для Internet Explorer/Edge */
    user-select: none; /* стандартное свойство CSS */
    touch-action: manipulation; /* для оптимизации событий касания */
}
body {

    background: #FAF4F2;
    font-family: 'Baloo 2', sans-serif;
    color: #203152;
    font-size: 15px;
    height: 100%; 
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

}

main {
    position: relative;
    padding-top: 3px;
    margin: 0 auto;

}


body {
    position: relative;
}




.scroll-default {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.scroll-default::-webkit-scrollbar {
    display: none;
}

.scroll-default::-webkit-scrollbar {
    width: 0;
}

.scroll-default {
    -ms-overflow-style: none;
}

.scroll-default {
    overflow: -moz-scrollbars-none;
}

.content-dafault{
    position: relative;
}
.content-dafault:after{
    content: "";
    position: absolute;
    left: -2px;
    bottom: -200%;
    height: 200%;
    width: calc( 100% + 4px );
    border: 2px solid #203152;
    border-top: 0;
    border-bottom: 0;
    background: #EDDDDE;
}

.loader {
    background: #FAF4F2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}




.loader img {
    display: block;
    width: 100px;
    height: 100px;
    transform: scale(0.5);
    animation: puls 2s infinite;
}
@keyFrames puls{
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
    0%{
        transform: scale(0.5);
    }
}

.main {}

.main-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0 20px;

}

.main-header-logo img{
    width: 40px;
    height: 40px;
}
.main-header-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.41px;

}

.main-content {

    position: relative;
    background: #EDDDDE;
    border: 2px solid #203152;
    border-bottom: none;
    border-radius: 50px 50px 0 0;
    padding: 0 20px 32px 20px;
    margin-top: 62px;
}

.default-block {
    position: relative;
    z-index: 1;
}

.default-block-item {
    border: 2px solid #203152;
    border-radius: 20px;
    background: #FAF4F2;
}

.default-block:after {
    position: absolute;
    left: 0;
    bottom: -8px;
    content: "";
    display: block;
    background: #F5D549;
    border-radius: 0 0 20px 20px;
    height: calc(50% + 8px);
    width: 100%;
    border: 2px solid #203152;
    z-index: -2;
}

.main-content-header {
    padding: 15px 18px 7px 16px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: -39px;
    justify-content: center;

}

.main-content-header-player-icon {
    margin: 0 auto;
    border: 2px solid #203152;
    box-shadow: 0px 2px 0px 0px #203152;
    width: 30px;
    height: 30px;
    background: #F5D549;
    border-radius: 8px;

}

.main-content-header-player-title {
    color: #203152;
    margin-top: 4px;
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 500;
}

.main-content-header-avatar {
    margin: -38px 46px 0 21px;

}

.main-content-header-avatar-icon {
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #FDBF1E
}

.main-content-header-avatar-icon img {
    width: 100%;
    height: 100%;
}

.main-content-header-avatar-title {
    font-size: 24px;
    line-height: 31.2px;

    font-family: 'Baloo';

}
.main-content-header-league-icon img{
    width: 36px;
    height: 36px;
}

.main-content-header-league-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    margin-top: 4px;
}

.main-content-row {
    margin: 29px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content-row-item {
    border: 2px solid #203152;
    border-radius: 8px;
    width: 132px;
    background: #F5D549;
    text-align: center;
    padding: 11px 14px 6px 13px;
}

.main-content-row-item-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 2px;
    line-height: 23.4px;
}

.main-content-row-item-slogan {
    font-weight: 600;
    font-size: 24px;
    line-height: 31.2px;
}

.main-content-row-item-slogan-item {
    float: right;
}

.main-content-balance-balance-val {
    position: relative;
    left: -14px;
}

.main-content-bum-container:after{
    bottom: -13px;
}

.main-content-bum {
    position: relative;
    height: 136px;
    padding: 16px;
    display: flex;
    align-items: center;
}

.main-content-bum-title {
    color: #F5D549;
    font-family: 'Baloo', sans-serif;
    font-size: 36px;
    -webkit-text-stroke: 4px #203152;
}

.main-content-bum-icon {
    position: absolute;
    right: 17px;
    top: -2px;
}

.main-content-bum-icon img {
    max-height: 148px;
}



.main-content-awards {
    margin-top: 29px;
    padding: 12px 18px;
    display: flex;
    align-items: center;

}

.main-content-awards-title {
    font-weight: 700;
    font-size: 24px;
    margin-left: 11px;
}

.main-content-awards-arrow {
    margin-left: auto;
}
.main-content-awards-arrow img{
    width: 48px;
    height: 48px;
}

.main-menu {
    box-shadow: 0px 4px 0px 0px #1E1E1E;
    background: #F5D549;
    border: 2px solid #203152;
    padding: 4px 16px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 53px;
}

.main-menu-item {
    transition: 0.1s;
}

.main-menu-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 2px solid transparent;
    transition: 0.3s;
}


.main-menu-item.active .main-menu-item-icon {
    border-color: #203152;
    background: #fff;

}

.main-menu-item-title {
    margin-top: 3px;
    text-align: center;
    line-height: 1;
    font-size: 14px;
    font-family: 'Baloo', sans-serif;
}







.page-modal {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 20px;
    height: 150%;
    width: 100%;
    opacity: 0;
    transform: translateY(100%);

}

.page-modal.show {

    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

.page-modal.hide {
    opacity: 0;

    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
}

.page-modal-close {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-modal-close-object {
    width: 32px;
    height: 4px;
    background: #203152;
    border-radius: 100px;
}




.earn {
    background-image: url('../img/earn-bg.png');
    background-size: cover;
    padding: 32px 20px 20px 20px;
    background-size: cover;
    animation: scrollBackground 20s linear infinite;
}

@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0%;
    }
}

.earn-header-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 41.6px;
    text-align: center;
}

.earn-header-logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #F5D549;
    box-shadow: 0px 2.5px 0px 0px #203152;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 17px auto 30px auto;
}

.earn-header-logo-item {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #203152;
    border-radius: 50%;
}


.earn-list {}

.earn-list-item {
    position: relative;
    background: #F5D549;
    box-shadow: 0px 4px 0px 0px #6741D9;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 13px 16px 6px 13px;
}

.earn-list-item+.earn-list-item {
    margin-top: 20px;
}

.earn-list-item:nth-child(2n) {
    background: #EDDDDE;
}



.earn-list-item-icon {
    background: #fff;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.earn-list-item-block {
    margin-left: 17px;
}

.earn-list-item-block-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
}

.earn-list-item-block-inner {
    display: flex;
    align-items: center;
    padding-left: 4px;
    max-width: 80px;
    margin-top: 2px;
}

.earn-list-item-block-inner-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #203152;
    display: flex;
    align-items: center;
    justify-content: center;
}

.earn-list-item-block-inner-logo-item {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.earn-list-item-block-inner-logo-item img {
    width: 12px;
}

.earn-list-item-block-inner-text {
    font-weight: 500;
    font-size: 18px;
    margin-left: auto;
    line-height: 23.4px;
}

.earn-list-item-arrow {
    margin-left: auto;
}

.earn-list-item-arrow img{
    width: 24px;
    height: 24px;
}




.friends {
    position: relative;
    overflow: hidden;
}

.friends-header {
    padding: 0 20px;
}

.friends-header-title {
    font-size: 32px;
    line-height: 41.6px;
    font-weight: 700;
    text-align: center;
}

.friends-header-title span {
    margin-right: 12px;
}

.deafault-friends-block {
    transition: 0.3s;
    box-shadow: 0px 4px 0px 0px #203152;
    border: 2px solid #203152;
    border-radius: 12px;
}

.deafault-friends-block:active {
    box-shadow: 0px 0px 0px 0px #203152;
}

.friends-header-block {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 9px 18px;
    margin: 24px 0;
}

.friends-header-block-sum {
    font-weight: 600;
    font-size: 18px;
    line-height: 23.4px;
}

.friends-header-block-logo {
    margin: 0 8px;
    padding-right: 9px;
    border-right: 1px solid #B197FC;
}

.friends-header-block-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 23.4px;
    margin-left: 5px;
}

.friends-header-block-arrow {
    margin-left: auto;
    transition: 0.1s;
}

.friends-header-block:active .friends-header-block-arrow {
    transform: translateX(10px);
}

.friends-header-list {
    padding: 20px 25px 20px 20px;
    background: #fff;
}

.friends-header-list-item {
    display: flex;
}

.friends-header-list-item+.friends-header-list-item {
    margin-top: 8px;
}

.friends-header-list-item-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 19.5px;
    margin-left: 8px;
}

.friends-header-btn {
    cursor: pointer;
    background: #F5D549;
    border: 2px solid #203152;
    border-radius: 50px;
    box-shadow: 0px 4px 0px 0px #203152;
    transition: 0.1s;
    width: 124px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin: 40px auto 24px auto;
}

.friends-header-btn:active {
    box-shadow: 0px 0px 0px 0px #203152;
}

.friends-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px;
    margin-bottom: 8px;
    text-transform: uppercase;
}




.friends-content {
    position: relative;
    border-radius: 30px 30px 0 0;
    border: 2px solid #203152;
    background: #EDDDDE;
    padding: 20px 20px 25px 20px;
}

.friends-content .scroll-default{
    max-height: 256px;

}


.friends-content-btn {
    height: 52px;
    position: fixed;
    top: 599px;
    z-index: 1;
    left: 2px;
    padding: 0 20px;
    background: #EDDDDE;
    width: calc(100% - 4px);
}

.friends-content-btn-item {
    border: 2px solid #203152;
    box-shadow: 0px 4px 0px 0px #203152;
    background: #F5D549;
    width: 100%;
    height: 48px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.1s;
}

.friends-content-btn-item:active {

    box-shadow: 0px 0px 0px 0px #203152;
}



.friends-content-item {
    display: flex;
    align-items: center;
    border: 1px solid #6741D9;
    border-radius: 12px;
    padding: 6px 20px;
    background: #fff;
}

.friends-content-item+.friends-content-item {
    margin-top: 16px;
}

.friends-content-item-icon {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    overflow: hidden;
}

.friends-content-item-icon img {
    width: 100%;
    height: 100%;
}

.friends-content-item-text {
    margin-left: 12px;
}

.friends-content-item-text-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
}

.friends-content-item-text-slogan {
    font-weight: 500;
    font-size: 18px;
    line-height: 23.4px;
    margin-top: 6px;
}

.friends-content-item-text-slogan span {
    margin-right: 8px;
}

.friends-content-item-logo img {
    width: 20px;
    height: 20px;
}

.friends-content-item-number {
    font-weight: 500;
    font-size: 18px;
    line-height: 23.4px;
    margin-left: 8px;
}

.friends-content-item-arrow {
    margin-left: 12px;
    transition: 0.1s;
}
.friends-content-item-arrow img{
    width: 24px;
    height: 24px;
}
.friends-content-item-logo {
    margin-left: auto;
}

.friends-content-item:active .friends-content-item-arrow {
    transform: translateX(10px);
}


.friends-modal {
    border: 2px solid #203152;
    background: #EDDDDE;
    border-radius: 30px 30px 0 0;




}

.friends-modal-content {
    padding: 13px 20px 70px 20px;
}

.friends-modal-content-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 31.2px;
}

.friends-modal-content .friends-header-list {
    margin: 20px 0 40px 0;
}

.friends-modal-content-inner {}

.friends-modal-content-inner-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    margin-bottom: 20px;
}

.friends-modal-content-inner-row {
    display: flex;
    justify-content: space-between;

}



.friends-league {
    background: #fff;
    padding: 14px 10px;
    width: 183px;
}

.friends-league-title,
.friends-your-title {
    color: #FF9700;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 2px;
    text-align: center;
}

.friends-league-inner {
    display: flex;
    align-items: center;
}

.friends-league-inner+.friends-league-inner {
    margin-top: 8px;
}

.friends-league-inner-title {
    margin-left: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23.4px;
}

.friends-your {
    background: #fff;
    padding: 14px 30px 15px 30px;
    width: 136px;
}

.friends-your-title {
    margin-bottom: 4px;
}

.friends-your-inner {
    display: flex;
    align-items: center;

}

.friends-your-inner+.friends-your-inner {
    margin-top: 12px;
}

.friends-your-inner-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
}

.friends-your-inner-icon {
    margin-left: auto;
}

.friends-your-inner-icon img {
    width: 20px;
    height: 20px;
}

.friends-modal-content-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 24px auto;
    border: 1px solid #203152;
    background: #FAF4F2;
    border-radius: 12px;
    width: 170px;
    height: 60px;
    transition: 0.1s;
}

.friends-modal-content-more-title {
    color: #5D687E;
    transition: 0.1s;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
    text-transform: uppercase;
    line-height: 23.4px;
}

.friends-modal-content-more:active {
    border-color: #203152;
    box-shadow: 0px 4px 0px 0px #203152;
}

.friends-modal-content-more:active .friends-modal-content-more-title {
    color: #203152;
}

.friends-modal-content-more-arrow {
    transition: 0.1s;
}
.friends-modal-content-more-arrow img{
    width: 24px;
    height: 24px;
}

.friends-modal-content-more:active .friends-modal-content-more-arrow {
    transform: translateX(10px);
}





.my-pixel-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: center;
}

.my-pixel-switch-btn {
    border: 2px solid #203152;
    width: 220px;
    height: 36px;
    margin: 17px auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    background: #fff;
}

.my-pixel-switch-btn-item {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transition: 0.3s;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;

}

.my-pixel-switch-btn-item.active {
    border-color: #203152;
    background: #F5D549;

}

.my-pixel-switch-content-item {
    display: none;
}

.my-pixel-switch-content-item:last-child {
    display: block;
}


.my-pixel-tab {}

.my-pixel-tab-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.my-pixel-tab-btn-item {
    width: 33.33333%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    color: #A0A3A7;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
}

.my-pixel-tab-btn-item.active {
    color: #203152;
}

.my-pixel-tab-btn-item.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #203152;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: showLine 0.5s;

}

@keyframes showLine {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


.my-pixel-tab-content {
    padding: 40px 20px 20px 20px;
}

.my-pixel-tab-content-item+.my-pixel-tab-content-item {
    display: none;
}

.my-pixel-inner {
    padding: 10px 20px 13px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    background: #F5D549;
    border: 2px solid #203152;
    transition: 0.1s;
}

.my-pixel-inner:active {
    box-shadow: 0px 4px 0px 0px #203152;
}

.my-pixel-inner+.my-pixel-inner {
    margin-top: 20px;
}

.my-pixel-inner-img img {
    width: 44px;
    height: 44px;
    border: 2px solid #203152;
    border-radius: 8px;
}

.my-pixel-inner-icon {
    margin: 0 8px 0 7px;
}

.my-pixel-inner-number {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 19.5px;
    margin-right: 13px;
    min-width: 47px;
}

.my-pixel-inner-text {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.41px;
    line-height: 20.8px;
}

.my-pixel-inner-block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #203152;
    box-shadow: 0px 2px 0px 0px #203152;
    background: #fff;
    width: 90px;
    height: 40px;
    margin: 0 8px;
    font-weight: 700;
    font-size: 24px;
}

.my-pixel-inner-block span {
    margin: 0 3px;
    position: relative;
    top: -1px
}

.my-pixel-modal {
    background: #F5D549;
    border: 2px solid #203152;
    border-radius: 30px 30px 0 0;
    top: 63px;
}

.my-pixel-modal-content {
    padding: 24px 20px 34px 20px;
}

.my-pixel-modal-inner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.my-pixel-modal-inner-btn {
    width: 36px;
    height: 36px;
    background: #FAF4F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.my-pixel-modal-inner-btn:active {
    box-shadow: 0px 4px 0px 0px #203152;
}

.my-pixel-modal-inner-img {
    border: 2px solid #203152;
    box-shadow: 0px 4px 0px 0px #203152;
    width: 150px;
    height: 130px;
    overflow: hidden;
    border-radius: 12px;
    margin: 0 15px;
}

.my-pixel-modal-inner-img img {
    width: 100%;
    height: 100%;
}

.my-pixel-modal-inner-title {
    width: 261px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    text-align: center;
}

.my-pixel-modal-form {
    margin-top: 74px;
}

.my-pixel-modal-form-item {
    display: block;
    padding: 0;
    margin: 0;
}

.my-pixel-modal-form-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
}

.my-pixel-modal-form-item-input input,
.my-pixel-modal-form-item-input textarea {
    background: #FAF4F2;
    width: 100%;
    border-radius: 12px;
    height: 48px;
    padding-left: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 19.5px;
    font-weight: 600;
}

.my-pixel-modal-form-item-input input::placeholder,
.my-pixel-modal-form-item-input textarea::placeholder {
    color: #5D687E;
}

.my-pixel-modal-form-item-input textarea::-webkit-scrollbar {
    display: none;
}

.my-pixel-modal-form-item-input textarea {
    padding: 13px 12px;
    resize: none;
    height: 118px;
}

.my-pixel-modal-form-item-input-land {
    color: #5D687E;
    font-weight: 500;
    font-size: 12px;
    line-height: 15.6px;
    text-align: right;
}

.my-pixel-modal-form-sub {
    margin-top: 40px;
}

.my-pixel-modal-form-sub a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 0px 0px #203152;
    border: 2px solid #203152;
    background: #fff;
    width: 100%;
    height: 48px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.1s;
}

.my-pixel-modal-form-sub a:active {
    box-shadow: 0px 0px 0px 0px #203152;

}




.city {}

.city-header {
    padding: 0 20px;
}

.city-header-img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    overflow: hidden;
}

.city-header-img img {
    width: 100%;
    height: 100%;
}

.city-header-title {
    margin: 12px 0 1px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    text-align: center;
}

.city-header-league {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 1px 0 20px 0;
}

.city-header-league-icon img{
    width: 36px;
    height: 36px;
}
.city-header-league-arrow img{
    width: 24px;
    height: 24px;
}

.city-header-league:active .city-header-league-arrow {
    transform: translateX(10px);
}

.city-header-league-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 23.4px;
    margin: 0 4px;
}

.city-header-league-arrow {
    transition: 0.1s;
}

.city-header-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 14px 10px 14px;
}

.city-header-block-object {
    margin: 0 43px;
    height: 60px;
    width: 1px;
    background: #5D687E;
}

.city-header-block-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    margin-bottom: 4px;
}

.city-header-block-item-slogan {
    font-weight: 500;
    font-size: 18px;
    line-height: 23.4px;
}


.city-header-btn {
    margin: 28px 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.city-header-btn-item {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 12px;
    box-shadow: 0px 4px 0px 0px #203152;
    background: #F5D549;
    padding: 7px 0 5px 0;
    text-align: center;
    border: 2px solid #203152
}

.city-header-btn-item:active {
    box-shadow: 0px 0px 0px 0px #203152;
}

.city-header-btn-item+.city-header-btn-item {
    margin-left: 20px;
}

.city-header-btn-item-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15.6px;
    margin-top: 3px;
}

.city-content {
    border-bottom: none;
    border-radius: 30px 30px 0 0;
    border: 2px solid #203152;
    background: #EDDDDE;
    padding: 20px 20px 25px 20px;


}
.city-content .scroll-default{
    max-height: 275px;
}


.city-content-inner {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #203152;
    background: #fff;
    border-radius: 12px;
}

.city-content-inner+.city-content-inner {
    margin-top: 20px;
}

.city-content-inner:active {
    box-shadow: 0px 4px 0px 0px #203152;
}

.city-content-inner-icon {
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    width: 40px;
}

.city-content-inner-avatar {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 20px;
}

.city-content-inner-avatar img {
    width: 100%;
    height: 100%;
}

.city-content-inner-more-title {
    line-height: 23.4px;
    font-size: 18px;
    font-weight: 700;
}

.city-content-inner-more-row {
    display: flex;
    margin-top: 10px;
}

.city-content-inner-more-row-icon {
    border: 2px solid #203152;
    box-shadow: 0px 2px 0px 0px #203152;
    width: 16px;
    height: 16px;
    background: #F5D549;
    border-radius: 4px;
}

.city-content-inner-more-row-title {
    margin-left: 18px;
    line-height: 23.4px;
    font-weight: 500;
    font-weight: 18px;
    position: relative;
    top: -1px;
}


.rating {

}

.rating-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 12px;
    margin-bottom: 12px;
}

.rating-inner-icon {
    display: flex;
}

.rating-inner-icon-item {
    width: 24px;
    height: 24px;
    border: 2px solid #F5D549;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.rating-inner-icon-item+.rating-inner-icon-item {
    margin-left: -4px;
}

.rating-inner-icon-item img {
    width: 100%;
    height: 100%;
    position: relative;
    top: -2px;
}

.rating-inner-title {
    color: #5D687E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 19.5px;
    margin-left: 24px;
}

.rating-slider-container{
    position: relative;
}

.rating-slider-arrow{
    position: absolute;
    width: 335px;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rating-slider {
    overflow: hidden;
}

.rating-slider-arrow{
    position: absolute;
}

.rating-slider-item {
    text-align: center;

}

.rating-slider-item-icon img {
    width: 127px;
    height: 113px;
    margin: 0 auto;
}

.rating-slider-item-title {
    line-height: 41.6px;
    font-size: 32px;
    font-weight: 700;
    margin: 4px 0 13px 0;
}

.rating-slider-item-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 19.5px;
    font-family: 'Open Sans', sans-serif;
}

.rating-slider-item-line {
    max-width: 335px;
    width: 100%;
    height: 20px;
    background: #fff;
    border: 2px solid #203152;
    border-radius: 100px;
    overflow: hidden;
    margin: 13px auto 12px auto;
}

.rating-slider-item-line-item {
    position: absolute;
    left: 0;
    top: 0;

    background: #F5D549;
    border: 1px solid #203152;
    height: 100%;
    border-radius: 100px;
    animation: lineShow 1s forwards;
    position: relative;

}

@keyframes lineShow {
    0% {
        width: 0;
    }

    100% {
        width: attr(data-width);
    }
}


.rating-content {
    border-radius: 30px 30px 0 0;

    border: 2px solid #203152;
    border-bottom: none;
    background: #EDDDDE;
    padding: 23px 20px 40px 20px;

}

/*.rating-content-container{
    max-height: 264px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}*/


.rating .my-pixel-switch-btn {
    margin-top: 0;
}

.rating-content-your {
    position: fixed;
    top: 643px;
    margin-top: 16px;
    width: calc( 100% - 20px );
    left: 10px;
}
.rating-content-your .city-content-inner{
    overflow: hidden;
    position: relative;
    border-width: 2px;
}
.rating-content-your-object{
    background: #F5D549;
    border-radius: 0 0 0 10px;
    width: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.41px;
    line-height: 20.8px;
    position: absolute;
    top: -1px;
    right: -1px;
}


@media screen and (max-height: 752px){
    .rating-content-your{
        top: auto;
        bottom: 20px;
    }
}





.rating-city{

}
.rating-city-inner{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.rating-city-inner-title{
    color: #5D687E;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 19.5px;

}

.rating-city-title{
    margin-top: 14px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 41.6px;
}

.rating-city-slider .slick-list{
    padding-top: 10px !important;
    padding-bottom: 21px !important;
}
.rating-city-slider-item{
    border: 2px solid #FFFFFF;
    background: #fff;
    box-shadow: 0px 8px 16px 0px #2031523D;
    border-radius: 12px;
    transform: scale(0.72);
    transition: 1s;
    transition-delay: 0.5s;
}
.rating-city-slider-item img{
    width: 100%;
}

.rating-city-slider-item.slick-center{
    transform: scale(1.0);

}

.rating-city-content{
    position: relative;
    border-radius: 30px 30px 0 0;
    border: 2px solid #203152;
    background: #EDDDDE;
    padding: 20px 20px 25px 20px;


}
.rating-city-content-scroll{
    max-height: 272px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.rating-city-slider-container{
    position: relative;
}
.rating-city-slider-arrow{
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;

}
.rating-city-slider-arrow-item{
    background: red;
    height: 183px;
    width: 74px;
    background: transparent;
}


.rating-city-content-item{
    border: 1px solid #203152;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 12px 20px 12px 16px;
    border-radius: 12px;
}
.rating-city-content-item:active{
    box-shadow: 0px 4px 0px 0px #203152;
}
.rating-city-content-item+.rating-city-content-item{
    margin-top: 16px;
}
.rating-city-content-item-icon{
    margin-right: 16px;
}
.rating-city-content-item-more-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 23.4px;
}
.rating-city-content-item-more-row{
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.rating-city-content-item-more-row-item+.rating-city-content-item-more-row-item{
    margin-left: 16px;
}

.rating-city-content-item-more-inner{
    display: flex;
    align-items: center;
}
.rating-city-content-item-more-inner-block{
    border: 2px solid #203152;
    box-shadow: 0px 2px 0px 0px #203152;
    width: 16px;
    height: 16px;
    background: #F5D549;
    border-radius: 4px;
    margin-right: 4px;
}
.rating-city-content-item-more-inner-title{
    color: #5D687E;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    line-height: 19.5px;
}
.rating-city-content-item-more-inner-icon{
    margin-right: 8px;
}

.rating-city-content-item-arrow{
    margin-left: auto;
    transition: 0.1s;
}
.rating-city-content-item-arrow img{
    width: 24px;
    height: 24px;
}

.rating-city-content-item:active .rating-city-content-item-arrow{
    transform: translateX(10px);
}

.rating-city-content-your{
    display: flex;
    align-items: center;
    padding: 11px 20px 17px 20px;
    background: #FAF4F2;
    margin-top: 15px;
}


.rating-city-content-your-rank{
    font-weight: 600;
    font-size: 16px;
    line-height: 20.8px;
    margin-right: 21px;
    min-width: 39px;
}

.rating-city-content-your-default{
    position: fixed;
    left: 0;
    top: 884px;
    width: calc( 100% - 20px );
    left: 10px;
}
